.importContainer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    background-color: lightblue;
    padding: 20px;
    border-radius: 20px;
}

.tableContainer{
    width: 95vw;
    max-height: 75vh;
    min-height: 50vh;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    overflow-y: scroll;
}

tr td:hover{
    background-color: lightblue;
    cursor: pointer;
}

.selectedCell{
    color: white;
    background-color: green;
}

.selectedCell:hover{
    background-color: red;
}

.conditionsContainer{
    width: 50vw;
    border-width: 3px;
    border-color: black;
    border-style: dashed;
    border-radius: 5px;
}

.dropdown-item:hover{
    cursor: pointer;
}